article > *:not(.entry-content),
.entry-content > * {
    @apply mx-auto;
}

.entry-content, .block-editor-block-list__layout {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    p, ul, ol {
        a {
            @apply text-blue-500 underline;

            &:hover {
                @apply no-underline;
            }
        }

        @apply mb-8;
    }

    ul:not(.block-editor-block-variation-picker__variations) {
        li {
            @apply list-disc list-inside;
        }
    }

    ol {
        li {
            @apply list-decimal list-inside;
        }
    }
}
a{
    text-decoration: none !important;
}
body{
    max-width: 100% !important;
    overflow-x: hidden !important;
}

.swiper-button-next, .swiper-button-prev{
    color: #000 !important;

}
.swiper-button-prev{
    left: 50px !important;
}

.swiper-button-next{
    right: 70px !important;
}
.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 36px !important;
    font-weight: 900 !important;
}

.swiper-products{
    max-width: 100%;
    overflow-x: hidden;
}

.linkActive::before{
    width: 100%;
    background: #F7921A;
    height: 1px;
    position: absolute;
    bottom: -5px;
    content: '';
}

.row-active{
    background: #F7921A !important;
    color: #fff;
}

.row-table-style:hover{
    background-color: #F7921A !important;
}

ul.page-numbers {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

span.page-numbers.current {
    background: #F7921A;
    color: #fff;
    padding: 5px 10px;
    border-radius: 8px;
}

.share-content-bottom::before
 {
    content: '';
    display: inline-block;
    margin-left: 10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #fff;
    position: absolute;
    top: -15px;
    left: 10px;
}
.activeCalc{
    background-color: #F7921A;
}
.activeCalc span{
    color: #fff;
}
.buttonActive{
    background: #F7921A;
}
.buttonActive h3{
    color: #fff;
}
#grab-scroll-container div {
    cursor: grabbing;
}
@media screen and (max-width:968px){
    .swiper-button-next:after, .swiper-button-prev:after {
        font-size: 24px !important;
        font-weight: 900 !important;
    }
    .swiper-button-prev{
        left: 10px !important;
    }
    .swiper-button-next{
        right: 10px !important;
    }
}