@utility container {
    max-width: var(--wp--style--global--wide-size);
}

@utility alignfull {
    width: 100vw;
    margin: 0 calc(50% - 50vw) !important;
}

@utility alignwide {
    width: calc(200px + var(--wp--style--global--wide-size));

    img {
        width: 100%;

        margin: 0 -100px 0 -100px !important;
    }
}

@utility alignnone {
    height: auto;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
}

@utility aligncenter {
    margin: 0.5rem auto !important;
}

@utility font-rockstar{
    font-family: 'Rockstar';
}

@utility font-noto{
    font-family: 'Noto Sans', sans-serif;
}

@utility text-custom-gray{
    color: #919497;
}
@utility text-casadoaco-orange{
    color: #F7921A;
}
@utility bg-casadoaco-orange{
    background-color: #F7921A;
}
@utility text-wave{
    color: #eb0071;
}